[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
gunicorn = "*"
django-geojson = "*"
djangorestframework-gis = "*"
django-tailwind = "*"
django-browser-reload = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
