<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <p>home 2</p>
    <h1><b>Connect with new people</b></h1>
    <br><br>
    <h4>New user!</h4>
    <button id="createaccbtn" onclick="document.location='{% url 'create-user' %}'">create account</button>
    <br>
    <h4>Already a user</h4>
    <!-- <button id="loginbtn" onclick="document.location='{% url 'login-user' %}'">Login</button> -->
    <!-- <button id="loginbtn" onclick="/users/">Login</button> -->
</body>
</html>