{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    {% tailwind_css %}
</head>

<body>

    {% block content %}
    <h2>Upload a File</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <p>
            <label for="id_file">File:</label>
            <input type="file" name="file" required id="id_file">
        </p>
        <p>
            <label for="id_file_name">File name:</label>
            <input type="text" name="file_name" maxlength="255" required id="id_file_name">
        </p> -->

        <input type="file" name="file" />
        <input type="text" name="id_file_name">
        <button type="submit">Upload</button>
    </form>
    {% endblock %}
</body>

</html>